n8n/telegrambot01.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "034eebd7-6364-4564-a128-8b31df845874",
      "name": "Telegram Trigger",
      "webhookId": "476d5bf0-abe6-46b3-bc26-e5118af2a9ab",
      "credentials": {
        "telegramApi": {
          "id": "PgL5vCiMgt1CjOyX",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "03d79e21-782e-4c57-8985-b08182ecbbfa",
              "name": "input",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ],
      "id": "ddcfadd0-ec61-4212-b4e5-59949eeb3c60",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.input }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        480,
        0
      ],
      "id": "e87f86c2-3bb1-4396-a7f0-db45559e0121",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        480,
        176
      ],
      "id": "f58c01c6-cec0-4baf-8d8f-1e09ac90ee8a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "2jp9sI7e0lDDs6lG",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        800,
        0
      ],
      "id": "4aca11c8-344d-47ea-92cd-b35d3ebee850",
      "name": "Send a text message",
      "webhookId": "e30725e4-5c54-4cdb-aea5-1ea3f8511b1e",
      "credentials": {
        "telegramApi": {
          "id": "PgL5vCiMgt1CjOyX",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "agent-1"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        576,
        288
      ],
      "id": "7bb58afc-cec8-42eb-99da-cdcaa5edc7e6",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5201bd23-be6e-4bb7-b7dd-c2de1b5dd9e5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f44330209a4d6c7ee992913b91e2879a067d5e7d5715b13e12d5edb7de041623"
  },
  "id": "tTJAc37KOaqK9xnc",
  "tags": []
}